/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}


/* Font */
@font-face {
  font-family: 'Pokemon Solid';
  font-style: normal;
  font-weight: 400;
  src: local('Pokemon Solid'), url('https://fonts.cdnfonts.com/s/17890/Pokemon Solid.woff') format('woff');
}


/* CSS Custom kleur properties */
:root {
--colorBackgroundBody: linear-gradient(0deg, rgba(152,228,43,1) 12%, rgba(89,219,127,1) 47%, rgba(52,235,230,1) 100%);
--colorKop: rgb(247, 223, 7);
--colorKopStroke: rgb(16, 16, 134);
--colorBoxShadow: rgb(0, 0, 0);
--colorLaadBg: rgb(182, 182, 182);
--ColorLaad: rgb(0, 0, 0);

/* Kleuren standaard styling kaarten */
--colorKaartBg: rgb(176,88,247);
--colorKaartBgGradient: linear-gradient(90deg, rgba(176,88,247,1) 0%, rgba(139,16,219,1) 44%, rgba(60,37,215,1) 100%);
--colorKaartBorder: rgb(252, 211, 3);
--colorKaart: rgb(255, 255, 255);

/* Kleuren styling h2 en h3 */
--colorKopTweeDrie: rgb(0, 0, 0);
--colorKopTweeDrieBg: rgb(242,242,242);
--colorKopTweeDrieGradient: linear-gradient(90deg, rgba(242,242,242,1) 0%, rgba(226,226,226,1) 42%, rgba(190,190,190,1) 100%);
--colorKopTweeDrieBoxShadow: rgb(73, 73, 73);

/* Kleuren styling kaart tekst p */
--colorKaartP: rgb(0, 0, 0);
--colorKaartBorderP: rgb(140, 140, 137); 
--colorKaartBoxShadowP: rgb(73, 73, 73);
--colorKaartBgP: rgb(191,190,190, 0.6);

/* Kleuren glowing animatie + rest van de kaarten */
--glowFrom: rgb(255, 235, 8);
--glowDuskTo: rgb(123, 8, 255); 

--colorDawnKaart: rgb(217,217,217);
--colorDawnGradient: linear-gradient(90deg, rgba(217,217,217,1) 0%, rgba(89,240,210,1) 44%, rgba(114,95,241,1) 100%);
--glowDawnTo: rgb(29, 29, 241); 

--colorFireKaart:  rgb(249,234,58);
--colorFireGradient: linear-gradient(90deg, rgba(249,234,58,1) 0%, rgba(240,193,89,1) 27%, rgba(241,95,95,1) 100%); 
--glowFireTo: rgb(241, 54, 29);

--colorThunderKaart:  rgb(171,253,255);
--colorThunderGradient: linear-gradient(90deg, rgba(171,253,255,1) 0%, rgba(248,244,133,1) 47%, rgba(242,237,39,1) 100%);
--glowThunderTo: rgb(4, 134, 143); 

--colorLeafKaart: rgb(229,255,171);
--colorLeafGradient: linear-gradient(90deg, rgba(229,255,171,1) 0%, rgba(174,248,133,1) 47%, rgba(39,242,42,1) 100%);
--glowLeafTo: rgb(54, 241, 29); 

--colorShinyKaart: rgb(222,255,215);
--colorShinyGradient: linear-gradient(90deg, rgba(222,255,215,1) 0%, rgba(226,248,133,1) 47%, rgba(242,189,39,1) 100%);
--glowShinyTo: rgb(161, 132, 1); 

--colorWaterKaart: rgb(110,186,255);
--colorWaterGradient: linear-gradient(90deg, rgba(110,186,255,1) 0%, rgba(13,184,244,1) 47%, rgba(0,52,179,1) 100%);
--glowWaterTo: rgb(29, 191, 241); 

--colorSunKaart: rgb(249,219,186);
--colorSunGradient: linear-gradient(90deg, rgba(249,219,186,1) 0%, rgba(249,146,98,1) 47%, rgba(245,57,0,1) 100%);
--glowSunTo: rgb(184, 98, 0); 

}

html, body {
  height:100%;
  margin:0;
}


/* jouw CSS vanaf hier */

/* Cursor veranderen naar pokeball 
* {cursor: url(https://cur.cursors-4u.net/games/gam-13/gam1282.cur), auto !important;}  */

button:not([enabled]) {
  cursor:pointer;
}

body {
  background: var(--colorBackgroundBody);
}


/* Styling kop (webkit zorgt ervoor dat ik een text stroke kan renderen */
section h1 {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 5em;
  color: var(--colorKop);
  -webkit-text-stroke: 0.04em var(--colorKopStroke);
  font-family: 'Pokemon Solid', sans-serif;
  line-height: 1em;
  padding: 0.7em;
}

/* Button styling weghalen */
button {
  border: none;
  background: none;
}

article > ul {
  overflow-x: auto;
  padding: 1em;
  gap: 1em;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Weghalen scroll bar chrome,safari en opera */
article > ul::-webkit-scrollbar {
  display: none; 
}

/* Positie + weghalen styling ul */
article ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

 /* Kaart flip container */
article > ul > li {
  background-color: transparent;
  width: 12.5em;
  height: 18.75em;
  perspective: 62.5em; 
  cursor:pointer; 
}

/* Toevoegen verschillende animaties per kaartje */
article > ul > li:first-of-type,
article > ul > li:nth-of-type(4),
article > ul > li:nth-of-type(7) {
  animation: animatieEen;
  animation-duration: 2s;
  animation-delay: 5s;
  animation-iteration-count: 3;
}

/* Toevoegen kleine animatie aan het begin om klikbaarheid te tonen */
@keyframes animatieEen {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

article > ul > li:nth-of-type(2),
article > ul > li:nth-of-type(5) {
  animation: animatieTwee;
  animation-duration: 2s;
  animation-delay: 5s;
  animation-iteration-count: 3;
}

@keyframes animatieTwee {
  0% { transform: translateY(0) }
  25% { transform: translateY(0.3125em) }
  50% { transform: translateY(-0.3125em) }
  75% { transform: translateY(0.3125em) }
  100% { transform: translateY(0) }
}

article > ul > li:nth-of-type(3),
article > ul > li:nth-of-type(6),
article > ul > li:nth-of-type(8) {
  animation: animatieDrie;
  animation-duration: 2s;
  animation-delay: 5s;
  animation-iteration-count: 3;
}

@keyframes animatieDrie {
  0% { transform: skewX(-6deg); }
  5% { transform: skewX(7deg); }
  10% { transform: skewX(-6deg); }
  15% { transform: skewX(7deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  

}




 
/* De container van de voor en achterkant + schaduw */
article > ul > li > ul {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 0.25em 0.5em 0 var(--colorBoxShadow);
  padding: 0;
  border-radius: 1.2em;
}


/* Flip animatie en tab animatie draait 180graden */
article > ul > li > ul:hover, 
article > ul > li > ul:focus-within     {
  transform: rotateY(180deg);
} 


/* Zorgt ervoor dat als de kaart actief is de kaart omhoog beweegt */
article > ul > li:active, 
article > ul > li:focus-within {
  margin-top: -1em;
}


/* Positie voor en achterkant (webkit uitleggen) */
article > ul > li > ul > li:first-of-type, 
article > ul > li > ul > li:last-of-type {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 1.2em;
}

/* Fallback als de image niet laad */
article > ul > li > ul > li:first-of-type {
  background-color: var(--colorLaadBg);
  color: var(--colorLaad);
}

/* Voorkant ronding and vorm  */
article > ul > li > ul > li:first-of-type > img{
  width: 12.5em;
  height: 18.75em;
  border-radius: 1.1em;
}




/* 

BEGIN ACHTERKANT KAART STIJL

*/

/* Hieronder staat de standaard styling van de kaarten */
article > ul > li > ul > li:last-of-type {
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--colorKaartBg);
  background: var(--colorKaartBgGradient);
  border-style: solid;
  border-width: 0.625em;
  border-color: var(--colorKaartBorder);
  border-radius: 1.1em;
  color: var(--colorKaart);
  transform: rotateY(180deg);
  width: 12.5em;
} 

article > ul > li > ul > li:last-of-type > h2 {
  color: var(--colorKopTweeDrie);
  font-family: monospace;
  font-style: italic;
  font-size: 1em;
  text-align: left;
  background: var(--colorKopTweeDrieBg);
  background: var(--colorKopTweeDrieGradient);
  padding: 0.2em 0.2em 0.2em 0.6em;
  margin: 0 0 0 0;
  border-radius: 0.1em;
  box-shadow: 0 0.25em 0.5em 0 var(--colorKopTweeDrieBoxShadow);

}

article > ul > li > ul > li:last-of-type > h3 {
  order: -1;
  color: var(--colorKopTweeDrie);
  font-family: monospace;
  font-size: 1em;
  font-weight: bold;
  text-align: left;
  background: var(--colorKopTweeDrieBg);
  background: var(--colorKopTweeDrieGradient);
  padding: 0.2em 0 0.2em 0.6em;
  margin: 0 0 0 0;
  border-radius: 0.2em;
  box-shadow: 0 0.25em 0.5em 0 var(--colorKopTweeDrieBoxShadow);
}

/* Image grootte van de evolutiestenen */
article > ul > li > ul > li:last-of-type > img {
  width: 10.25em;
  height: auto;
  margin: 0 .5em 0 .5em;
}

article > ul > li > ul > li:last-of-type > p {
  color: var(--colorKaartP);
  font-size: 0.8em;
  font-weight: lighter;
  text-align: center;
  margin: 0 0.5em 0.5em 0.5em;
  padding: 1em 0.5em 1em 0.3em;
  border-style: solid;
  border-color: var(--colorKaartBorderP);
  border-width: 0.1em;
  border-radius: 0.1em;
  box-shadow: 0 0.25em 0.5em 0 var(--colorKaartBoxShadowP);
  background: var(--colorKaartBgP);
  flex-grow: 1;
}


/* Button, zodat het klikbaar / tabbaar is */
/* Tevens ook de basis styling van de eerste kaart */
article > ul > li > ul > li:last-of-type > button {
position: absolute;
inset: 0;
width: 100%;
animation: glowDusk 1s infinite alternate;
}

@keyframes glowDusk {
  from {
    box-shadow: 0 0 0.625em -0.625em var(--glowFrom);
    border-radius: 0.1em;
  }
  to {
    box-shadow: 0 0 0.625em 0.625em var(--glowDuskTo);
    border-radius: 0.1em;
}
}

/* 

EINDE ACHTERKANT KAART STIJL

*/




/* 

BEGIN STYLING ALLE KAARTEN

*/

/* Dawnstone styling */
article > ul > li:nth-of-type(2) > ul > li {
  background: var(--colorDawnKaart);
  background: var(--colorDawnGradient);
} 


article > ul > li:nth-of-type(2) > ul > li:last-of-type > button {
animation: glowDawn 1s infinite alternate;
}

@keyframes glowDawn {
  from {
    box-shadow: 0 0 0.625em -0.625em var(--glowFrom);
    border-radius: 0.1em;
  }
  to {
    box-shadow: 0 0 0.625em 0.625em var(--glowDawnTo);
    border-radius: 0.1em;
}

}

/* Firestone styling */
article > ul > li:nth-of-type(3) > ul > li {
  background: var(--colorFireKaart);
  background: var(--colorFireGradient);
} 

article > ul > li:nth-of-type(3) > ul > li:last-of-type > button {
  animation: glowFire 1s infinite alternate;
  }
  
  @keyframes glowFire {
    from {
      box-shadow: 0 0 0.625em -0.625em var(--glowFrom);
      border-radius: 0.1em;
    }
    to {
      box-shadow: 0 0 0.625em 0.625em var(--glowFireTo);
      border-radius: 0.1em;
  }
  
  }

/* Thunderstone styling */
article > ul > li:nth-of-type(4) > ul > li {
  background: var(--colorThunderKaart);
  background: var(--colorThunderGradient);
} 


article > ul > li:nth-of-type(4) > ul > li:last-of-type > button {
  animation: glowThunder 1s infinite alternate;
  }
  
  @keyframes glowThunder {
    from {
      box-shadow: 0 0 0.625em -0.625em var(--glowFrom);
      border-radius: 0.1em;
    }
    to {
      box-shadow: 0 0 0.625em 0.625em var(--glowThunderTo); 
      border-radius: 0.1em;
  }
  
  }

/* Leafstone styling */
article > ul > li:nth-of-type(5) > ul > li {
  background: var(--colorLeafKaart);
  background: var(--colorLeafGradient);
} 


article > ul > li:nth-of-type(5) > ul > li:last-of-type > button {
  animation: glowLeaf 1s infinite alternate;
  }
  
  @keyframes glowLeaf {
    from {
      box-shadow: 0 0 0.625em -0.625em var(--glowFrom);
      border-radius: 0.1em;
    }
    to {
      box-shadow: 0 0 0.625em 0.625em var(--glowLeafTo);
      border-radius: 0.1em;
  }
  
  }

/* Shinystone styling */
article > ul > li:nth-of-type(6) > ul > li {
  background: var(--colorShinyKaart);
  background: var(--colorShinyGradient);
} 


article > ul > li:nth-of-type(6) > ul > li:last-of-type > button {
  animation: glowShiny 1s infinite alternate;
  }
  
  @keyframes glowShiny {
    from {
      box-shadow: 0 0 0.625em -0.625em var(--glowFrom);
      border-radius: 0.1em;
    }
    to {
      box-shadow: 0 0 0.625em 0.625em var(--glowShinyTo);
      border-radius: 0.1em;
  }
  
  }

/* Waterstone styling */
article > ul > li:nth-of-type(7) > ul > li {
  background: var(--colorWaterKaart);
  background: var(--colorWaterGradient);
} 


article > ul > li:nth-of-type(7) > ul > li:last-of-type > button {
  animation: glowWater 1s infinite alternate;
  }
  
  @keyframes glowWater {
    from {
      box-shadow: 0 0 0.625em -0.625em var(--glowFrom);
      border-radius: 0.1em;
    }
    to {
      box-shadow: 0 0 0.625em 0.625em var(--glowWaterTo);
      border-radius: 0.1em;
  }
  
  }

/* Sun Stone styling */
article > ul > li:nth-of-type(8) > ul > li {
  background: var(--colorSunKaart);
  background: var(--colorSunGradient);
} 


article > ul > li:nth-of-type(8) > ul > li:last-of-type > button {
  animation: glowSun 1s infinite alternate;
  }
  
  @keyframes glowSun {
    from {
      box-shadow: 0 0 0.625em -0.625em var(--glowFrom);
      border-radius: 0.1em;
    }
    to {
      box-shadow: 0 0 0.625em 0.625em var(--glowSunTo);
      border-radius: 0.1em;
  }
  
  }



/* 

EINDE STYLING ALLE KAARTEN

*/



/* Styling van eevee + naam  */
article:nth-of-type(2) > img {
  display: block;
  margin: auto;
  padding-top: 0;
  width: 18em;
  height: 18.75em;
}

h4 {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 2em;
  color: var(--colorKop);
  -webkit-text-stroke: 0.04em var(--colorKopStroke);
  font-family: 'Pokemon Solid', sans-serif;
}

