/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

html, body {
  height:100%;
  margin:0;
}

button:not([disabled]) {
  cursor:pointer;
}



/* jouw CSS vanaf hier */

body {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(80,166,53,1) 35%, rgba(0,212,255,1) 100%);
  
}



article ul {
  margin: 0;
  list-style: none;
  display: flex;

}

 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
article > ul > li  {
  background-color: transparent;
  width: 12.5em;
  height: 18.75em;
  perspective: 62.5em; 
}

/* This container is needed to position the front and back side */
article > ul > li > ul {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0,1);
  padding: 0;
}


/* Do an horizontal flip when you move the mouse over the flip box container */
article > ul > li ul:hover {
  transform: rotateY(180deg);
}

/* Position the front and back side */
article > ul > li > ul > li:first-of-type, article > ul > li > ul > li:last-of-type {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing)
article > ul > li > ul > li:first-of-type {
  background-color: #bbb;
  color: black;
} */


article > ul > li > ul > li > img {
  width: 12.5em;
  height: 18.75em;
}





/* 

ACHTERKANT KAART STIJL

*/



/* Style the back side */
article > ul > li > ul > li:last-of-type {
  background: rgb(125,58,180);
  background: linear-gradient(90deg, rgba(125,58,180,1) 0%, rgba(29,199,253,1) 50%, rgba(99,69,252,1) 100%);
  border-style: solid;
  border-width: 10px;
  border-color: rgb(252, 211, 3);
  border-radius: 0.1em;
  color: white;
  transform: rotateY(180deg);
  width: 12.5em;

} 

article > ul > li > ul > li:last-of-type > h3 {
color: black;
font-size: 1em;
font-weight: bold;
text-align: left;
background: rgb(191,190,190);
background: linear-gradient(90deg, rgba(191,190,190,1) 0%, rgba(102,102,102,1) 50%, rgba(99,99,99,1) 100%);
padding: 0.2em 0 0.2em 0.4em;
margin: 0 0 0 0;
border-radius: 0.2em;
box-shadow: 0 0.25em 0.5em 0 rgb(73, 73, 73);
}

article > ul > li > ul > li:last-of-type > img {
width: 10.5em;
height: 7em;
}

article > ul > li > ul > li:last-of-type > p {
color: black;
font-size: 0.8em;
font-weight: lighter;
text-align: center;
margin: 0 0.5em 3em 0.5em;
padding: 1em 0.5em 1em 0.3em;
border-style: solid;
border-color: rgb(140, 140, 137);
border-width: 0.1em;
border-radius: 0.1em;
box-shadow: 0 0.25em 0.5em 0 rgb(73, 73, 73);
background: rgb(191,190,190, 0.3)


}

/* Eevee positie styling */

article:nth-of-type(2) > img {
  display: block;
  margin: auto;
}